In [47]:
import pandas as pd
import numpy as np
df = pd.read_csv('runways.csv')
df = df.drop(columns=['id', 'Unnamed: 20' ,'airport_ident', 'surface', 'le_ident', 'le_latitude_deg', 'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT',	'he_latitude_deg'	,'he_longitude_deg',	'he_elevation_ft' ])

In [48]:
liste = df.columns

In [49]:
liste

Index(['airport_ref', 'length_ft', 'width_ft', 'lighted', 'closed',
       'le_displaced_threshold_ft', 'he_ident', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40979 entries, 0 to 40978
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   airport_ref                40979 non-null  int64
 1   length_ft                  40810 non-null  float64
 2   width_ft                   38343 non-null  float64
 3   lighted                    40979 non-null  int64
 4   closed                     40979 non-null  int64
 5   le_displaced_threshold_ft  2804 non-null   float64
 6   he_ident                   34838 non-null  object
 7   he_heading_degT            15853 non-null  float64
 8   he_displaced_threshold_ft  3116 non-null   float64
dtypes: float64(5), int64(3), object(1)
memory usage: 2.8+ MB

In [51]:
df.airport_ref.dtype == 'int64'

True

In [52]:
liste

Index(['airport_ref', 'length_ft', 'width_ft', 'lighted', 'closed',
       'le_displaced_threshold_ft', 'he_ident', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

In [53]:
df.he_ident.dtype == 'O'

True

In [54]:
for i in liste:
    if df[i].dtype == 'O':
        df[i]= df[i].fillna(df[i].mode()[0])
    else:
        df[i] = df[i].fillna(df[i].mean())

In [55]:
df

,airport_ref,length_ft,width_ft,lighted,closed,le_displaced_threshold_ft,he_ident,he_heading_degT,he_displaced_threshold_ft
0,6523,80.0,80.0,1,0,4092.620542,36,261.714515,535.224968
1,6524,2500.0,70.0,0,0,4092.620542,S,261.714515,535.224968
2,6525,2300.0,200.0,0,0,4092.620542,19,261.714515,535.224968
3,6526,40.0,40.0,0,0,4092.620542,H1,261.714515,535.224968
4,322127,1450.0,60.0,0,0,4092.620542,19,261.714515,535.224968
...,...,...,...,...,...,...,...,...,...
40974,327451,8202.0,148.0,0,0,4092.620542,22,261.714515,535.224968
40975,27242,10827.0,148.0,1,0,650.000000,28,275.600000,320.000000
40976,27243,10499.0,148.0,1,0,4092.620542,24,228.700000,535.224968
40977,27244,8530.0,148.0,1,0,4092.620542,27,261.700000,535.224968
40978,313629,1713.0,82.0,0,0,4092.620542,36,261.714515,535.224968