In [84]:
import pandas as pd

In [85]:
df = pd.read_csv('runways.csv')

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40979 entries, 0 to 40978
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         40979 non-null  int64
 1   airport_ref                40979 non-null  int64
 2   airport_ident              40979 non-null  object
 3   length_ft                  40810 non-null  float64
 4   width_ft                   38343 non-null  float64
 5   surface                    40723 non-null  object
 6   lighted                    40979 non-null  int64
 7   closed                     40979 non-null  int64
 8   le_ident                   40860 non-null  object
 9   le_latitude_deg            14242 non-null  float64
 10  le_longitude_deg           14239 non-null  float64
 11  le_elevation_ft            12117 non-null  float64
 12  le_heading_degT            14040 non-null  float64
 13  le_displaced_threshold_ft  2804 non-null   float64
 14  he_ident                   34838 non-null  object
 15  he_latitude_deg            14229 non-null  float64
 16  he_longitude_deg           14231 non-null  float64
 17  he_elevation_ft            12005 non-null  float64
 18  he_heading_degT            15853 non-null  float64
 19  he_displaced_threshold_ft  3116 non-null   float64
 20  Unnamed: 20                0 non-null      float64
dtypes: float64(13), int64(4), object(4)
memory usage: 6.6+ MB

In [87]:
df = df.drop(columns=['id', 'Unnamed: 20' ,'airport_ident', 'surface', 'le_ident', 'le_latitude_deg', 'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT',	'he_latitude_deg'	,'he_longitude_deg',	'he_elevation_ft' ])

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40979 entries, 0 to 40978
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   airport_ref                40979 non-null  int64
 1   length_ft                  40810 non-null  float64
 2   width_ft                   38343 non-null  float64
 3   lighted                    40979 non-null  int64
 4   closed                     40979 non-null  int64
 5   le_displaced_threshold_ft  2804 non-null   float64
 6   he_ident                   34838 non-null  object
 7   he_heading_degT            15853 non-null  float64
 8   he_displaced_threshold_ft  3116 non-null   float64
dtypes: float64(5), int64(3), object(1)
memory usage: 2.8+ MB

In [89]:
df.length_ft=df.length_ft.fillna(df.length_ft.mean())

In [90]:
df.width_ft=df.width_ft.fillna(df.width_ft.mean())

In [91]:
df['le_displaced_threshold_ft']=df['le_displaced_threshold_ft'].fillna(df.le_displaced_threshold_ft.mode()[0])

In [92]:
df.he_heading_degT=df.he_heading_degT.fillna(df.he_heading_degT.mean())

In [93]:
df

,airport_ref,length_ft,width_ft,lighted,closed,le_displaced_threshold_ft,he_ident,he_heading_degT,he_displaced_threshold_ft
0,6523,80.0,80.0,1,0,200.0,NaN,261.714515,NaN
1,6524,2500.0,70.0,0,0,200.0,S,261.714515,NaN
2,6525,2300.0,200.0,0,0,200.0,19,261.714515,NaN
3,6526,40.0,40.0,0,0,200.0,H1,261.714515,NaN
4,322127,1450.0,60.0,0,0,200.0,19,261.714515,NaN
...,...,...,...,...,...,...,...,...,...
40974,327451,8202.0,148.0,0,0,200.0,22,261.714515,NaN
40975,27242,10827.0,148.0,1,0,650.0,28,275.600000,320.0
40976,27243,10499.0,148.0,1,0,200.0,24,228.700000,NaN
40977,27244,8530.0,148.0,1,0,200.0,27,261.700000,NaN
40978,313629,1713.0,82.0,0,0,200.0,36,261.714515,NaN

In [94]:
df.he_displaced_threshold_ft=df.he_displaced_threshold_ft.fillna(df.he_displaced_threshold_ft.mean())

In [98]:
df.he_ident=df.he_ident.fillna(df.he_ident.mode()[0])

In [101]:
df=pd.get_dummies(df)