In [12]:
import pandas as pd
import numpy as np
import datetime as dt

In [13]:
df=pd.read_csv('data/Electric_Production.csv')

In [15]:
df

           DATE     Value
0    01-01-1985   72.5052
1    02-01-1985   70.6720
2    03-01-1985   62.4502
3    04-01-1985   57.4714
4    05-01-1985   55.3151
..          ...       ...
392  09-01-2017   98.6154
393  10-01-2017   93.6137
394  11-01-2017   97.3359
395  12-01-2017  114.7212
396  01-01-2018  129.4048

[397 rows x 2 columns]

In [16]:
df['DATE']=pd.to_datetime(df['DATE'], format="%m-%d-%Y")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    397 non-null    datetime64[ns]
 1   Value   397 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.3 KB